html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: rgb(240, 240, 240);
}
header {
    margin-top: 50px;
    font-weight: bold;
}
body {
    text-align: center;
}

p {
    font-size: 20px;
}

#content {
    margin-top: 150px;
}

#ly_sales {
    padding: 1px;
    margin: 0 auto;
    margin-bottom: 100px;
}

input {
    border-radius: 5px;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table {
    margin: 0 auto;
    border: 1px solid black;
    padding: 2px;
    width: 20%;
    height: 50%;
    background-color: white;
}

tr, th, td {
    border: 1px solid black;
}

th {
    width: 50%;
}

td {
    height: 10px;
    width: 30%;
}